# <font color='green'> <b>Time Data</b><font color='black'>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("time_exercise.csv")

In [3]:
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [5]:
pd.to_datetime(df["order_date"]) #

0     2021-01-23
1     2020-04-02
2     2019-03-10
3     2019-12-27
4     2020-02-19
         ...
906   2020-11-24
907   2020-11-24
908   2020-11-22
909   2021-01-26
910   2020-12-06
Name: order_date, Length: 911, dtype: datetime64[ns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [7]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [8]:
df["entry_date"] = pd.to_datetime(df["entry_date"])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [10]:
df["entry_date"].min()   # entry_date sutununda min tarihini gormek icin

Timestamp('2018-12-04 00:00:00')

In [11]:
df["entry_date"].max()    # # entry_date sutununda max tarihini gormek icin

Timestamp('2020-11-26 00:00:00')

In [12]:
df["entry_date"].max() - df["entry_date"].min() # max ile min tarih arasindaki farki gormek icin

Timedelta('723 days 00:00:00')

In [13]:
df["entry_date"].dt.year # dt metodu ile datetime sutunlarda islem yapmaya yarar.

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
906    2020
907    2020
908    2020
909    2020
910    2020
Name: entry_date, Length: 911, dtype: int32

In [14]:
df["entry_date"].dt.isocalendar().week # hafta bilgilerini alabiliriz

0      49
1      49
2      49
3      49
4      49
       ..
906    41
907    41
908    46
909    48
910    48
Name: week, Length: 911, dtype: UInt32

In [15]:
from datetime import datetime   # datetime modulunu import ettik

In [16]:
print(datetime.now()) # icinde bulunan  saati gosterir

2024-05-20 11:31:35.921617

In [18]:
print(datetime.today())

2024-05-20 11:31:52.242178

In [19]:
current_datetime =datetime.now()

In [20]:
print(current_datetime)

2024-05-20 11:32:01.334248

In [21]:
current_datetime.date()

datetime.date(2024, 5, 20)

In [22]:
current_datetime.minute

32

In [25]:
from datetime import timedelta   # timedelta modulu  iki farkli zaman arasindaki farki verir

In [35]:
print(timedelta(days=5))

5 days, 0:00:00

In [36]:
time_before = current_datetime - timedelta(weeks=52, days=4, hours=7, minutes=1)

In [29]:
print(time_before)

2023-05-18 04:31:01.334248

In [30]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [31]:
df["time_delta"] = df["order_date"] - df["entry_date"] # siparis zamani ile giris zamani arasindaki farki bulabiliriz

In [32]:
df.head()

,id_product,order_date,product_quantity,product_price,entry_date,time_delta
0,401,2021-01-23,1.0,541.487603,2018-12-04,781 days
1,416,2020-04-02,1.0,131.181818,2018-12-04,485 days
2,717,2019-03-10,1.0,2035.488500,2018-12-04,96 days
3,778,2019-12-27,1.0,335.988000,2018-12-04,388 days
4,826,2020-02-19,1.0,342.292302,2018-12-04,442 days

In [33]:
df["time_delta"] = df["time_delta"].astype("str").str.split(" ").str[0].astype(int) # timedelta sutununu int. olarak getirdik

In [34]:
df

,id_product,order_date,product_quantity,product_price,entry_date,time_delta
0,401,2021-01-23,1.0,541.487603,2018-12-04,781
1,416,2020-04-02,1.0,131.181818,2018-12-04,485
2,717,2019-03-10,1.0,2035.488500,2018-12-04,96
3,778,2019-12-27,1.0,335.988000,2018-12-04,388
4,826,2020-02-19,1.0,342.292302,2018-12-04,442
...,...,...,...,...,...,...
906,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
907,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
908,1536887,2020-11-22,1.0,0.000000,2020-11-13,9
909,1536952,2021-01-26,1.0,988.429752,2020-11-24,63
910,1536974,2020-12-06,1.0,0.000000,2020-11-26,10